@charset "UTF-8";

@media  screen and (min-width: 768px) and (max-width: 992px) {
    /*tablets*/
   body{
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
   }
    section#login {
        width: 80vw;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
    div.campo > span.material-symbols-outlined{
        color: rgb(252, 251, 251);
        font-size: 2em;
        padding: 5px;
        width: 36px;
        margin-bottom: 7px;
        
        
    }
    div.campo > input{
        border:  #49a09d;
        font-size: 1em;
        width: calc(100% - 43px);
        height: 100%;
        transform: translateY(-10px);
        border-radius: 8px;
        background-color: #49a09d;
        border: 0px;
        padding: 4px;
    }
    form{
        margin-top: 5%;
    }
    div#formulario > p{
        margin-top: 3%;
    }
    div#formulario > h1{
        margin-top: 3%;
    }
    
}
@media  screen and (min-width:992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
       }
    section#login{
        width: 925px;

    }
    section#login > div#imagem{
        float:right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: left;
        width: 50%;
    }
    div#formulario{
        font-size: 1.2em;
        padding: 10px;
    }
    h1{
        padding-bottom:10px;
        font-size: 2em;
    }
    div.campo > span.material-symbols-outlined{
        color: rgb(252, 251, 251);
        font-size: 1em;
        width: 36px;
        
    }
    div.campo > input{
        border:  #49a09d;
        font-size: 1em;
        width: calc(100% - 41.8px);
        height: 100%;
        transform: translateY(-0.2px);
        border-radius: 8px;
        background-color: #49a09d;
        border: 0px;
        padding: 4px;
    }
    form{
        margin-top: 5%;
    }
    div#formulario > p{
        margin-top: 3%;
    }
    div#formulario > h1{
        margin-top: 3%;
    }
    
}
