@charset "UTF-8";

/*
 Paleta de cores
 verde: #49a09d
 lilás: #5f2c82

*/
*{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
body, html{
background-color: #5f2c82;
height: 100vh;
width: 100vw;

}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(243, 238, 238);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px  0px 10px rgba(0, 0, 0, 0.5);


    transition: width 0.3s, height 0.3s;
}

section#login > div#imagem {
    display: block;
    background:  #5f2c82 url(/imagens/imagem1.jpg) ;
    background-size: cover;
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
section#login > div#formulario {

    display: block;
    padding: 10px;


}
div#formulario{
    text-align: center;
    margin-bottom: 15px;
}
div.campo > span.material-symbols-outlined{
    color: rgb(252, 251, 251);
    font-size: 6em;
    padding: 5px;
    width: 40px;
    margin-bottom: 7px;
    
}
div.campo > input{
    border:  #49a09d;
    font-size: 1em;
    width: 89.7%;
    height: 100%;
    transform: translateY(-15px);
    border-radius: 8px;
    background-color: #49a09d;
    border: 0px;
    padding: 4px;
}
label{
    font-size: 0.8em;
}
form > input[type="submit"]{
    display: block;
    background-color: rgb(32, 123, 227);
    color: white;
    width: 100%;
    height: 39px;
    text-align: center;
    border: none;
    font-size: 1em;
    border-radius: 8px;
    margin-top: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}
form > input[type="submit"]:hover{
    background-color: rgb(86, 249, 249);
    color: rgb(0, 64, 255);
}

form > div#email {
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgb(252, 254, 255);
    border: 1px solid  rgb(36, 107, 189);
    border-radius: 8px;
    padding: 5px;
   
    

}
form > div#email > a.botao{
    text-align: center;
    font-size: 1em;
    color: rgb(4, 50, 107);
    text-decoration: none;
    margin-top: 10px;
    
    
}
form > div#email> span#mail{
    color: rgb(7, 72, 147);
    font-size: 0.8em;

}
form > div#email:hover {
    background-color: rgb(86, 249, 249);
}
div.campo{
    background-color: #5f2c82 ;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 8px 0px;
}
div.campo > label{
    display: none;
}
